%h1 WCBN Training Database

%h4= link_to 'New Trainee', new_trainee_path

#notice=notice
-@trainees.each do |trainee|
  .trainee
    .small.grey="#{trainee.created_at.to_date} — #{trainee.sent_email}"
    .big.name.inline=link_to trainee.name, trainee
    .inline=trainee.dept
    .inline=trainee.status.capitalize
    .grey.inline=' — '+trainee.um_id
    %br
    .inline=trainee.phone
    .inline=' — '+trainee.email
    .small.grey='Interests: '+trainee.interests
