label {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

input, textarea, select {
  width: 100%;
  height: 1.7em;
  margin-bottom: 0.8em;
}

textarea{
  height: 3em;
}

.interest_link {
  width: auto;
}

.trainee {
  padding: 0.5em 0;
}

.inline{ display: inline }
.grey { color: #727A8C }
.small{
  font-size: 10pt; 
}
.name{
  font-family: 'Roboto Slab', serif;
  font-size: 15pt !important;
  font-weight: bold;
  padding-right: 0.5em;
}
.hidden{ display:none; }
